section#lingpuzzle { margin-left: 1em; }
section#lingpuzzle a.head { font-style: italic; padding-right: 1em; }
section#lingpuzzle div.tbl { overflow: auto; }
section#lingpuzzle div.tbl table { width: 100%; }
section#lingpuzzle div.tbl table td { padding: 0 5px; white-space: nowrap; }

main.cryptic img { max-width: 100%; }
main.cryptic ol { margin-left: 1em; }
main.cryptic li { margin: 0; }
main.cryptic p { text-indent: 0; }

span.y { color: #f7ca88; }
span.r { color: #ab4642; }
span.sol { font-family: monospace; font-weight: bold; background-color: #282828; padding: 0 5px; color: #a1b56c; }

#logic { border-collapse: collapse; border: 1px solid #383838; }
#logic td, #logic th { padding: 0 0.5em; text-align: left; }
#logic td.ld a { color: #888888; font-size: 11pt; }
#logic tr.ltrfst > * { padding-top: 0.5em; }
#logic tr.ltrlst > * { padding-bottom: 0.5em; }
#logic tr.ltralt { background-color: #282828;; }

div.lpuz { text-align: center; font-weight: bold; text-decoration: underline; }
div.lpuz img { max-width: 70%; }
p#ldat { font-size: 12pt; color: #888; margin: 0; font-style: italic; }
