section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

section a {
    display: block;
    width: 150px;
    background-color: #282828;
    padding: 20px;
    margin: 20px;
    text-align: center;
    border-radius: 10px;
    transition: background-color 0.1s;
    outline: none;
    overflow: hidden;
}

section a:hover {
    background-color: #383838;
}

section svg { width: 200px; margin: -50px; }
section a, section a:visited { text-decoration: none; color: #d8d8d8; }
section p { margin: 0; }
