html,body {
    background-color: #181818;
    color: #d8d8d8;
    font: 14pt sans-serif;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

#list {
    user-select: none;
}

#list > p {
    background-color: #282828;
    padding: 5px;
    margin: 5px;
}

#list > p.active {
    font-weight: bold;
}

#list > p > span {
    padding: 0 10px;
    margin-right: 10px;
    background-color: rgba(0,0,0,40%);
    cursor: pointer;
}

.real { color: hsl(2 44% 46%); }
.meme { color: hsl(76 33% 57%); }
.musi { color: hsl(36 87% 75%); }
#list .real { background-color: hsl(2  15% 15%); }
#list .meme { background-color: hsl(76 15% 15%); }
#list .musi { background-color: hsl(36 15% 15%); }

a { color: #7cafc2; }
a:visited { color: #ba8baf; }
input, button { color: #d8d8d8; background-color: #383838; border: 1px solid #585858; font: 14pt sans-serif; border-radius: 3px; }
input { width: 50%; }
button { cursor: pointer; }
button:active { background-color: #484848; }
