span.call {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    border-radius: 3px;
}

span.call > span.c1 {
    padding: 0 5px;
    font-size: 9pt;
}

span.call > span.c2 {
    padding: 0 8px;
    border-left: 1px solid #aaa;
    border-radius: 0 3px 3px 0;
}


span.call.p { background-color: #040; }
span.call.a { background-color: #440; }
span.call.c { background-color: #400; }

span.call.p > span.c2 { background-color: #080; }
span.call.a > span.c2 { background-color: #880; }
span.call.c > span.c2 { background-color: #800; }

p.seq {
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    border-left: 1px solid #666;
    font-size: 12pt;
}

p.seqlbl {
    font-size: 11pt;
    margin-bottom: 3px;
    font-weight: bold;
    color: #a1b56c;
}

p.seq.lbld {
    margin-top: 0;
}

section {
    border-top: 1px dashed #fff;
    margin-top: 30px;
}
section > :first-child { margin-top: 30px; }

table.sp td { padding-right: 10px; }
table.sp td:last-child { padding-right: 0; }
td.nowrap { white-space: nowrap; }
.scrolltbl { overflow-x: auto; white-space: nowrap; }
table#clocktable td:nth-child(3), table#clocktable td:nth-child(4) { text-align: right; }
table#clocktable td:nth-child(5) { font-size: 12pt; }

video { max-width: 100%; }
div.gallery img { max-width: 100%; }
div.gallery2 img { max-width: 50%; }

/* dothecall */

div#dtc { display: flex; align-items: center; font-size: 24pt; }
@media (max-width: 600px) { div#dtc { font-size: 18pt; } }
div#fst, div#snd { flex: 1; color: #dc9656; }
div#fst { text-align: right; }
div#the { padding: 0 1rem; }
p#dtcbtn { text-align: center; margin-bottom: 2rem; }
span.dtclvl { display: inline-block; width: 3rem; text-align: center; background-color: #282828; color: #888; cursor: pointer; }
span.dtclvl.on { display: inline-block; width: 3rem; text-align: center; background-color: #040; color: #eee; }
span.dtclvl:hover { background-color: #383838; }
span.dtclvl.on:hover { background-color: #080; }
div#asin { text-align: center; margin-top: 2rem; }
div#asin > div { display: flex; gap: 1rem; }
div#asin > div > div { flex: 1; }
div#asin p { margin: 0; }
div#asinfst span.fst, div#asinsnd span.snd { color: #dc9656; }
